# ========================================================
# Global
# ========================================================
.DS_Store
Thumbs.db
*.log
*.swp

# Ignore IDE settings
.idea/
*.iml
.vscode/

# env var
.env
